@font-face{
    font-family: "sansation";
    src: url(sansation/Sansation-Bold.ttf);
    font-style: normal;
    font-weight: 100;
    
}

h1 {
    font-family: sansation;
    color: white;
}

h2{
    font-family: sansation;
    color: white;
}

h3{
    font-family: sansation;
    color: white;
}

body{
    background-color: #151D21 ;
}